RewriteEngine On
# Removes Trailing HTML
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
# Forces www prefix
RewriteRule ^(.*)$ $1.html
RewriteCond %{HTTP_HOST} ^example\.com [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301,NC]
# Forces trailing slash
RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

# 404's any request to a .file or .directory
RedirectMatch 404 /\..*$

# Disable directory browsing
Options All -Indexes

